@use '../../assets/sass/abstracts/' as *;

.footer {
  width: 100%;
  background-color: $color-secondary-dark;
  color: $color-grey-light-2;
  font-size: 1.8rem;
  text-align: center;
  padding: 4rem 0;
}