@use '../../assets/sass/abstracts/' as *;

.input {
  font-family: inherit;
  font-size: 1.75rem;
  color: $color-grey-light-1;

  border: none;
  background-color: $color-grey-dark-3;
  padding: .7rem 0 .7rem 5rem;
  border-radius: 10rem;
  width: 100%;
  margin-left: -3.25rem;
  transition: all .2s;
  line-height: 1rem;

  &::placeholder {
    color: $color-grey-light-4;
    font-weight: 100;
  }

  &:focus {
    outline: none;
    
  }
}

.searchIconBox {
  width: 50%;
  transition: all .2s;
  background-color: $color-grey-dark-3;
  border-radius: 10rem;
}

.searchIconBox--focused {
  width: 55%;
  transform: translateY(-1rem);
  box-shadow: 0 1rem 2rem  rgba(0,0,0,.2);
}

.icon {
  color: $color-grey-light-3;
  width: 1.75rem;
  height: 1.75rem;
  position: relative;
  z-index: 10;
}