@use '../../assets/sass/abstracts' as *;

.titleSection {
  font-size: 1.65rem;
  background-image: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
  color: $color-white;
  width: 100%;
  padding: 1rem 4.5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;

  display: flex;
  align-items: center;
  border-bottom: $line;

  @media only screen and (max-width: 56.25em) {
    border-radius: 0;
  }
}

.titleText {
  letter-spacing: 1px;
  margin-left: 2rem;
}

svg {
  width: 3.75rem;
  height: 3.75rem;
}