@use '../../assets/sass/abstracts/' as *;

.addNewTodo {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  align-items: center;

  @media only screen and (max-width: 56.25em) {
    margin: 0 auto;
    width: 50%;
  }
}

.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
}

.formControl {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.input {
  font-size: 1.5rem;
  font-family: inherit;

  border: none;
  background-color: $color-grey-light-3;
  padding: .5rem 2rem;
  height: 50%;
  position: relative;
  margin-top: .5rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 1.2rem;
  }
}

.line {
  &::after {
    content: "";
    display: table;
    background-color: $color-primary-light;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 3px;
    height: 50%;
    transform: scaleY(0);
    transition: transform .2s;
    transform-origin: center;
  }
}

.input:focus + .line::after {
  transform: scaleY(1);
}

.submitBtn {
  width: 50%;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  padding: 1rem 2rem;
  border:none;
  border-radius: 10rem;
  cursor: pointer;
  margin-top: 4rem;
  position: relative;
  background-image: linear-gradient(to right bottom, $color-primary-dark, $color-secondary-dark);
  color: $color-grey-light-3;
  transition: all .2s;

  &:hover {
    transform: translateY(-1.3rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1rem);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-image: linear-gradient(to right bottom, $color-primary-dark, $color-secondary-dark);
  }
}