@use '../../assets/sass/abstracts' as *;

.todosList {
  background-color: $color-white;
  flex: 0 0 60%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 2rem;
  margin-right: 4rem;
  box-shadow: $thin-shadow;
  justify-content: center;

  @media only screen and (max-width: 56.25em) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.loadingText {
  align-self: center;
  background-image: linear-gradient(to right, $color-secondary-lighter, $color-secondary-darker);
  background-clip: text;
  color: transparent;
}

.notFoundText {
    align-self: center;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
}