@use '../../assets/sass/abstracts/' as *;

.todosControls {
  flex: 0 0 35%;
  margin-left: auto;
  background-color: #fff;
  box-shadow: $thin-shadow;

  @media only screen and (max-width: 56.25em) {
    flex: 1;
    margin-left: 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: $line;
  color: $color-grey-dark-2;
}