@use '../../assets/sass/abstracts/' as *;

.todoItem {
  color: $color-grey-dark-2;
  font-size: 1.75rem;
  flex: 0 0 50%;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  position: relative;
  padding: .5rem 0;

  &::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: $color-grey-light-3;
    position: absolute;
    top: 0;
    left: 3rem;
    transform: scaleY(0);
    transition: transform .2s, 
                width .4s cubic-bezier(1,0,0,1) .2s, 
                background-color .1s,
                color .2s;
  }

  &:hover {
    color: $color-primary;
    &::before {
      transform: scaleY(1);
      width: 87%;
    }
  }
}

.title {
  z-index: 20;
}

.icon {
  // fill: $color-secondary;
  color: $color-primary-light;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 1.5rem;
  z-index: 20;
}

.icon:last-of-type {
  color: $color-secondary-lighter;
  margin-left: auto;
  cursor: pointer;
  transition: all .2s;
  z-index:20;

  &:hover {
    color: $color-danger;
    transform: translateY(-.3rem);
  }

  &:active {
    transform: translateY(-.1rem);
  }
}