@use '../../assets/sass/abstracts/' as *;

.todoHeader {
  flex: 0 0 60%;
  border-bottom: $line;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 56.25em) {
    flex: 0 0 100%;
    justify-content: center;
  }
}