.todoSearch {
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-left: 2rem;

  @media only screen and (max-width: 56.25em) {
    flex: 0 0 100%;
    justify-content: center;
  }
}