@use '../assets/sass/abstracts' as *;

.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: 0 1rem 2.5rem rgba(0,0,0,.3);
  background-color: $color-grey-light-2;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;

  @media only screen and (max-width: 56.25em) {
    margin: 0 auto;
  }
}