$color-primary: #0077b6;
$color-primary-light: #00b4d8;
$color-primary-dark: #023e8a;

$color-secondary: #480ca8;
$color-secondary-light: #560bad;
$color-secondary-lighter: #7209b7;
$color-secondary-dark: #3a0ca3;
$color-secondary-darker: #280972;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-danger: #ba181b;

$color-white: #fff;
$color-black: #000;

$line: 2px solid $color-grey-light-3;

$thin-shadow: 0 2rem 5rem rgba(0,0,0,.06);